:root {
  --main-dark-blue: #033357;
  --secondary-white: #fff;
  --info-rebate-cyan: #caefeb;
  --small-text-grey: #9d9d9d;
  --info-error: #f20e16;
  --info-warning: #ffc107;
  --info-success: #28a745;
  --info-light: #f8f9fa;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
.selected {
  background-color: red;
}
/* HEADER */
.header-section {
  background-color: var(--main-dark-blue);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: var(--secondary-white);
  text-align: center;
}

.header-container h1 {
  font-size: 18px;
}

.header-cta a {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.header-user-cta {
  display: none;
}
.header-right {
  font-family: "Montserrat";
  width: 20%;
}
/* CLAIM REBATE */
.claim-rebate-section {
  background-color: var(--secondary-white);
}
.claim-rebate-container {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 190px;
  gap: 20px;
}
.form-submit-cta > input {
  background-color: var(--info-light);
  color: var(--main-dark-blue);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.claim-rebate-upload-and-invoices {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 190px 190px;
  gap: 10px;
}

.rebate-container {
  margin: auto;
  padding: 15px;
}

.rebate-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-cta {
  text-align: center;
  padding: 30px;
  cursor: pointer;
}

.upload-cta input {
  display: none !important;
}

.upload-cta svg {
  width: 40px;
  height: auto;
}

.upload-cta h4 {
  font-size: 16px;
  margin: 10px 10px 15px 10px;
}

.upload-cta p {
  font-size: 12px;
  color: var(--small-text-grey);
}

/* UPLOADED INVOICE */
.rebate-header h4 {
  padding-bottom: 10px;
}

.rebate-uploaded-invoices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px 100px));
  grid-auto-rows: 1fr;
}

.rebate-uploaded-invoice img {
  width: 100px;
  height: 100%;
}

/* FOUND PRODUCTS MATCHING REBATE */
#rebate-found-products {
  overflow-y: scroll;
}

.rebate-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

.rebate-product {
  display: grid;
  background-color: var(--secondary-white);
  padding: 15px;
}

.rebate-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rebate-product-details {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: 1fr;
}

.rebate-product a {
  color: blue;
  text-decoration: underline;
}

/* FORM */
.rebate-form-container {
  padding: 20px 10px;
}

.form-personal-details h3 {
  padding-bottom: 20px;
}

.rebate-form-container p {
  font-size: 12px;
  margin: 5px 0;
}
.show {
  display: block !important;
}

.invalid-message {
  color: var(--info-error) !important;
  font-size: 12px !important;
  display: none;
}

.low-confidence-message {
  color: var(--info-warning) !important;
  font-size: 12px !important;
}

.success-input {
  border: 2px solid #21d61a !important;
}

.invalid-input {
  border: 2px solid var(--info-error) !important;
}

.low-confidence-input {
  border: 2px solid var(--info-warning) !important;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.form-field label {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--main-dark-blue);
}

.form-field label > span {
  color: red;
}

.form-field input,
select {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--main-dark-blue);
  background-color: var(--secondary-white);
  font-size: 18px;
}

.form-submit-cta > button {
  background-color: #007bff;
  color: var(--secondary-white);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 450px) {
  
  .rebate-form-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .header-container,
  .claim-rebate-container,
  .rebate-form-section {
    padding: 20px 40px;
  }

  .rebate-form-container {
    padding: 0;
  }

  .rebate-product-header {
    display: grid;
    grid-template-columns: 230px 1fr 4vw;
  }

  .rebate-product-header h5 {
    justify-self: start;
  }

  .rebate-product-details {
    max-width: 460px;
  }

  .rebate-product-details h5:nth-child(even),
  p:nth-child(even) {
    justify-self: start;
  }
}

@media only screen and (min-width: 860px) {
  .available-rebates-container{
    grid-template-columns: repeat(2,1fr);
  }
  .rebate-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: unset;
    margin: 0;
    max-width: unset;
    gap: 100px;
  }

  .claim-rebate-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px 380px;
  }

  .claim-rebate-upload-and-invoices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr;
  }
}

@media only screen and (min-width: 1280px) {
  .header-container,
  .claim-rebate-container,
  .rebate-form-section {
    max-width: 900px;
    margin: 0 auto;
  }
}
.rebate-container > a {
  font-size: 14px;
  margin: 5px 0;
 
 
  cursor: pointer;
}

.modal {
  
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--secondary-white);
  margin: 15vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 95%;
}

.modal-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 20px;
}

.modal-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#cancel-btn > button {
  background-color: var(--info-light) !important;
  color: var(--main-dark-blue) !important;
}

.rebate-help {
  padding: 20px;
  background-color: var(--info-light);
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.hide {
  display: none;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rebate-help a {
  justify-self: center;
}

@media only screen and (min-width: 600px) {
  .modal-content {
    max-width: 560px; /* Could be more or less, depending on screen size */
  }
}
.loading-container {
  backdrop-filter: blur(10px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.loading-content {
  background-color: var(--secondary-white);
  margin: 15vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 70%;
  max-width: 450px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.flex {
  display: flex !important;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid var(--main-dark-blue); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-products {
  backdrop-filter: blur(10px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#invoice-card {
  width: 95%;
  max-width: 400px;
  margin: 10vh auto;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header svg {
  width: 30px;
  height: auto;
  cursor: pointer;
}
.card-body img {
  width: 100%;
  height: 100%;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 10px;
}
.card-footer button {
  background-color: var(--info-card);
  color: var(--info-card-text);
  padding: 15px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.modal-cards > div > div > .form-submit-cta {
  margin-top: 20px;
}

.rebate-product-details-products {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
.rebate-help span {
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.modal-accounts {
  display: none;
}
.chat-container {
  width: 16em;
  bottom: 5%;
  position: fixed;
}
.chat-circle {
  background: white;
  z-index: 1000;
  margin: auto;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 45%);
  border-radius: 50%;
  width: 5em;
}
.dog-img {
  cursor: pointer;
  width: 5em;
}
.block {
  display: block !important;
}
.chat-div {
  display: none;
  margin: 0.5em auto;
  height: 23em;
  background-color: white;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 45%);
  border-radius: 5%;
  width: 16em;
}
.message-input {
  width: 90%;
}
.chat-holder {
  height: 90%;
  display: flex;
  flex-direction: column-reverse;
}
.message-form {
  text-align: center;
}
.bot {
  background-color: #0078d4;
  float: left;
}
.user {
  background-color: #5dbb4a;
  float: right;
}
.hide {
  display: none;
}
.message {
  font-family: "Montserrat";
  width: 75%;
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 1em;
  color: white;
}
.message-container {
  margin: 0.5em auto;
  width: 95%;
  overflow: auto;
}
.dog-message {
  margin: auto;
  width: 65%;
  margin-bottom: 0.5em;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 45%);
  border-radius: 9999px;
}
.modal-success{
  
  position: absolute;
  inset: 50% auto auto 50%;
  border: none;
  background: transparent;
  overflow: auto;
  border-radius: 0px;
  outline: none;
  padding: 5rem 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  width: 100%;
}
.modal-top-row{
  align-items: center;
  text-align: center;
  display: flex;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  flex-direction: column;
  background-color: #fff;
  color: var(--main-dark-blue);
}
.centre{
  border-radius: 1.5rem;
  width: 50%;
  margin:auto;
  min-width: 350px;
}
.success-dog{
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  margin-bottom: 1rem;
  align-items: center;
 


}
.extra-dog{
  overflow: hidden;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-width: 7px;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 45%);
}
.modal-second-row{
  padding: 2rem;
  background-color: rgba(253,252,239,1);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
h3{
  text-align: center;
  color: var(--main-dark-blue);
}

.success-button{
  margin: 1rem;
  min-width: 300px;
  width: 50%;
  transition: .3s ease;
    vertical-align: middle;
    padding-left: 1.5rem;
    padding-right: 1.5rem;    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
    text-align: center;
    color: #033357;
    border: 1px solid rgba(3,51,87,1);
    cursor: pointer;
    font-weight: 700;
}
.success-button:hover{
  color: white;
  background-color: #033357;
}.form-field-pets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-rows: 125px;
}

.form-field-pet {
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.form-field-pet img {
  width: 100%;
  height: 100%;
}

.pet-selected {
  border: 4px solid var(--primary-light-blue);
}.rebate-container {
  display: grid;
  grid-template-columns: 1fr;
  
  gap: 10px;
  max-width: 850px;
}

.info-card {
  background-color: var(--info-card);
  font-size: 14px;
  color: var(--info-card-text);
  cursor: pointer;
}

.available-rebates-container{
  display: grid;
  
  gap: 10px;

}

.info-card-details {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: center;
  align-items: center;
  max-width: 370px;
  margin: 0 auto;
  height: 100%;
}

.info-card-details a {
  justify-self: start;
}

.card {
  background-color: var(--seconary-white);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
  color: var(--primary-dark-blue);
}

.card-details {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  max-width: 370px;
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}
.card-details >svg{
  width: 40px;
  height: 40px;
}
.required-rebate{
  height: 120px ;
    text-decoration: none;
}

.card-error{
  border: 2px solid red !important;
}
.no-content{
  background-color: var(--secondary-white);
  margin: 15vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 70%;
  max-width: 450px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  
  gap: 25px;
  align-items: center;
}